<div class="row">
    <h1>Actions</h1>

    <table>
        <tr>
        <th>Type</th>
        <th>Price</th>
        <th>When</th>
        </tr>
        {{#each actions}}
        <tr>
        <td>{{type}}</td>
        <td>{{cost}}</td>
<<<<<<< HEAD
        <td>{{ago}}</td>
=======
        <td>{{timestamp}}</td>
>>>>>>> cdd506ae8d04ef3e6ba5dc3bfed40ba277e656e4
        </tr>
        {{/each}}
    </table>
</div>